<!doctype html>
<html lang="en" ng-app="releaseNotesApp">
  <head>
    <meta charset="utf-8">
    <title>Release Notes Generator</title>
    
    <link type="text/css" media="screen" href="css/releaseNotes.css" rel="stylesheet">
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    <script src="js/controllers.js"></script>
  </head>
  <body>
  
    <div id="selector" data-ng-controller="jiraController">
      <select data-ng-model="selectedProject" data-ng-options="project.key as project.name for project in jiraProjects" data-ng-change="fetchVersions()">
        <option value="">--Select Project--</option>
      </select>
      <select data-ng-model="selectVersion" data-ng-options="version.id as version.name for version in availableVersions data-ng-change="fetchIssues()">
        <option value="">--Select Version--</option>
      </select>    
    </div>
    
    

</html>
